/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2014, 9:43:32 AM
    Author     : Kyle
*/

/*
  Color Scheme:
  
  Main Color: B4CCB9
  Highlight Color: F5ECD9
  Hightlight Color 2: E84D5B
  Text color: 3B3B3B
  Alt Text Color: 2BACB5

*/

.backgreen {
    background-color: #B4CCB9;
}

.backteal {
    background-color: #F5ECD9;
}

body,html{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family: Arial, sans-serif;
}

.fullcenter{
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.center{
    margin:auto;
}

.rectangle1{
    background-color:#B4CCB9;
    width:500px;
    height:300px;
}

.rounded{
    border-radius:10px;
    box-shadow: 5px 5px 5px #888888;
}

.title{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #3B3B3B;
    background-color: #F5ECD9;
}

.login{
    background-color: #F5ECD9;
    width:70%;
    height:60%;
}

.padding{
    padding-left: 50px;
    padding-right:50px;
    padding-top:30px;
    padding-bottom:0px;
}

.view-container{
    padding:30px;
    margin:50px;
    position: relative;
    min-width: 300px;
}

.patientcontainer{
    width:100%;
    display: inline-block;
}

.status, .personal{
    min-width:300px;
    width:44%;
    margin: 2.5%;
    padding:0px;
    display: inline-block;
    vertical-align:top;
}

.history{
    margin: 2.5%;
}

.status{

}

.personal{
}

.update{
    margin: 50px;
    padding:30px;
    width:500px;
    min-height:300px;
}

div .third{
    display: inline-block;
    width:31%;
    margin:10px;
    vertical-align:top;
    
}

.vhalf{
    height:500px;
}

.vhalftable{
    min-height:500px;
    height:50%;
}

.dselected, .pselected, .vselected{
    background-color: grey;
}

.pdetails{
    height:400px;
}
